<div class="badges">
  <img src={{'badge1.png' | asset_url}} alt="truting badge"/>
  <img src={{'badge1.png' | asset_url}} alt="truting badge"/>
  <img src={{'badge1.png' | asset_url}} alt="truting badge"/>
  <img src={{'badge1.png' | asset_url}} alt="truting badge"/>
</div>