{% schema %}
  {
  "name": "author blog",
  "settings": [],
  "presets": [
    {
      "name": "authorblog"
    }
  ]
}
{% endschema %}

<div>
  my author: {{ article.title }}
  {{ article.content }}
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}