<section>
  this is the marquee section
</section>

{% schema %}
  {
    "name": "marquee",
    "settings": [],
    "presets": [{
      
      "name": "Marquee"
    }
    ]
    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}