<section>
  this is the marquee section
</section>

{% schema %}
  {
    "name": "marquee",
    "settings": [],
    "presets": []
    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}