<style>
  .marquee{
    background-color: violet;
    display: flex;
    overflow: hidden;
    height: 10vh;
    user-select: none;
    gap: 6rem;
    padding: 1rem 0;
  }
  .marquee:hover .marquee__group{
    animation-play-state: paused;
  }
  .marquee__group{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    min-width: 100%;
    animation: scroll 15s linear infinite;
  }
  .marquee__group span{
    font-size: 5vw;
    font-weight: bold;
    white-space: nowrap;
  }

  @keyframes scroll {
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(calc(-100% - 2rem));
    }
  }
  .button-marquee{
    appearance: none;
    --button-border-color: #50248f;
    --button-hover-filter: contrast(90%) brightness(1.1);
    margin: 1px;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.4em;
    min-width: 148px;
    padding: 11px 39px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: auto;
    border-radius: 25px;
    border: 0;
    text-transform: none;
    letter-spacing: inherit;
    white-space: normal;
    box-shadow: 0 0 0 1px var(--button-border-color);
    background-color: #50248f;
    color: #ffffff;
    transition: all 100ms ease-in-out;
  }
</style>

<div class="marquee">
  <div class="marquee__group">
    {%- for block in section.blocks -%}
      {%-  case block.type -%}
        {% when 'text' %}
        <span>{{ block.settings.text }}</span>
        {% when 'button' %}
        <a class="button-marquee" {% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} >
          {{ block.settings.button_label | escape }}
        </a> 
        {% endcase %}
     {% endfor %} 

  </div>
  <div class="marquee__group" aria-hidden="true">
    {%- for block in section.blocks -%}
      {%-  case block.type -%}
        {% when 'text' %}
        <span>{{ block.settings.text }}</span>
        {% endcase %}
     {% endfor %} 
  
  </div>
</div>

{% schema %}
{
  "name": "marquee",
  "settings": [],
  "presets": [
    {
      "name": "Marquee"
    }
  ],
  "blocks": [
    {
      "name": "text",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "name": "button",
      "type": "button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button",
          "default": "Button",
          "info": "Show button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "link"
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}